* {
    color: whitesmoke;
    background-color: black;
}

header {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
}

section {
    display: flex;
    justify-content: right;
    justify-self: center;
    align-items: center;
    color: black;
    background-color: rgb(180, 179, 179);
    margin: auto;
    margin-top: 30px;
    height: 50px;
    width: 170px;
    font-size: 40px
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 50px;
    height: 50px;
    background-color: rgb(63, 63, 63);
    font-size: x-large;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 200px;
    margin: auto;
}

#summation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 200px;
    height: 50px;
    margin: auto;
    margin-bottom: 80px;
}

.equals {
    background-color: black;
    font-size: 60px;
}

.decimal {
    align-items: flex-end;
    background-color: black;
    font-size: 60px;    
}

.clear-entry,
.all-clear {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 150px;
}

.clear-entry {
    background-color: whitesmoke;
    color: red;
}

.all-clear {
    background-color: red;
    color: whitesmoke;
}

